{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Articles</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to create and read the articles" />
  <meta name="keywords" content="articles, article, tech, technology" />
  <meta name="article" content="article" />
  <link rel="shortcut icon" href="{% static 'resources/logo.jpg' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  a:hover {
    text-decoration: none;
  }
</style>

<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <nav class="navbar  navbar-expand-md" id="main-nav">
    <a href="{% url 'home' %}">
      <span>
        <h1 id="logo">S</h1>
      </span>
      <h1 id="heading">SARAH</h1>
      <h5 id="sub-heading">ARTICLES</h5>
    </a>

    <h5 id="title">OUR ENCHANTING</h5>
    <h1 id="title1">Smashing Articles</h1>
    <h5 id="discription">All Smashing articles, sorted chronologically. Over less than 1 year, we've
      published {{ total }}
      articles, written by hard-working authors. Still counting...</h5>
    <img id="nav-img" src="{% static 'resources/logo3.gif' %}" alt="image">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        {% if user.is_authenticated %}
        <div class="dropdown">
          <button type="button" style="width: 100px;" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            <i id="toggler" class="fa fa-user-circle-o"></i>
          </button>
          <div class="dropdown-menu">
            <a href="my-articles" class="btn btn-light">My Article</a>
            <a href="account" class="btn btn-light">Account</a>
            <a href="logout" class="btn btn-danger">Logout</a>
          </div>
        </div>
        {% endif %}
        {% if not user.is_authenticated %}
        <a href="login" class="btn btn-light">Login</a>
        <a href="register" class="btn btn-light">Register</a>
        {% endif %}
        <div class="dropdown">
          <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            Articles
          </button>
          <div class="dropdown-menu">
            <a href="/?all" class="btn btn-light">All Articles</a>
            {% for data in categories %}
            <a href="/?category={{ data.id }}" class="btn btn-light">{{ data.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div id="article">
    {% for data in all_articles %}
    <div id="article-img">
      {% if data.image %}
      <img id="article-picture" src="{{data.image.url}}" style="object-fit:cover;
                      margin-top: -8px; width: 10%;" onerror="this.src='{% static 'resources/logo.jpg' %}';">
      {% else %}
      <img src="{% static 'resources/logo.jpg' %}" alt="article pic">
      {% endif %}
    </div>
    <p id="author"><u>{{ data.author }}</u> wrote <span style="padding-left: 100px; color: rgb(155, 0, 155);">{{ data.category_name }}</span></p> 
    <h2>{{ data.title }}</h2>
    <div id="sample">
      <h6 style="font-weight: normal;">{{ data.created_at }}</h6> - <a href="" class="btn btn-light" data-toggle="modal" data-target="#read{{ data.id }}"><u>Read...</u></a>
      <a href="comments?id={{data.id}}" class="btn btn-light" style="float: right;"><u>Comments</u></a>
    </div>
    <br><br><br><hr>
    <div class="modal fade" id="read{{ data.id }}" style="color: #01272e;">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ data.title }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.content }}
          </div>
          <div class="modal-footer">
            <form action="like">
              <button type="submit" class="btn btn-success" name="like" value="{{ data.id }}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
            </form>
            <form action="like">
              <button type="submit" class="btn btn-danger" name="not_like" value="{{ data.id }}"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% if all_articles %}
    <div class="pagination" style="margin: 10px 0 10px 45.5%;">
      <span class="step-links">
        {% if articles.has_previous %}
        <a href="?page={{ articles.previous_page_number }}"><input type="button"
            value="Previous"></a>
        {% endif %}
  
        <span class="current">
          Page {{ articles.number }} of {{ articles.paginator.num_pages }}
        </span>
  
        {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}"><input type="button"
            value="Next"></a>
        {% endif %}
      </span>
    </div>
    {% else %}
    <h4 style="text-align: center;">No Articles</h4>
    {% endif%}
  </div>

</body>

</html>

{% endblock %}